numpy>=1.10.2
#scipy==1.0.0
docopt-ng==0.7.2
#vtk==5.10.0
pillow>=2.7.0
cycler>=0.10

# extra modules for docs
alabaster>=0.7.10
sphinx>=1.9.0 #,<3.0
sphinx_rtd_theme>=0.1.9
numpydoc>=0.8.0
pygments>=2.1.0
docutils>=0.12

# for notebook conversion
ipython
#qtpy
