# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on: [push]
#on:
  # Triggers the workflow on push or pull request events but only for the master branch
  #push:
  #  branches: [ master ]
  #pull_request:
  #  branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  #workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
         python-version: [3.7, 3.8, 3.9]
         os: [ubuntu-latest]
         # , macos-latest, windows-latest
         mode: ['latest', 'latest_basic', 'old']
                #'latest_pyside_gui', 'latest_pyqt_gui',
                # 'old', 'old_basic', 'old_pyside_gui', 'old_pyqt_gui'.
         #include:
         #- node: 13
         #  os: ubuntu-18.04
         #  experimental: true
      fail-fast: false
#strategy:
    #  matrix:
          #https://github.com/zopyx/xmldirector.connector/blob/master/.travis.yml#L15-L54
          #python-version: [3.7, 3.8]
          #env:
          # - {COVERAGE_RUN='coverage run'  CODECOV='codecov'  NUMPY='numpy scipy matplotlib h5py vtk pyqt5 pandas>=0.25 imageio pillow>5.2,!=7.1.0'  LIB='libblas-dev liblapack-dev'}

          #python-version: 3.8
          #env:
          # COVERAGE_RUN='coverage run'
          # CODECOV='codecov'
          # NUMPY='numpy scipy matplotlib h5py vtk pyqt5 pandas>=0.25 imageio pillow>5.2,!=7.1.0'
          # LIB='libblas-dev liblapack-dev'



    #--------------------------------------------------------------------------------------------------
    # latest versions of package
    #- name: "Python  ${{ matrix.python-version }} (PyQt5)"
      #python-version: [3.7, 3.8, 3.9]
      #env:
      #- COVERAGE_RUN='coverage run'
      #- CODECOV='codecov'
      #- NUMPY='numpy scipy matplotlib h5py vtk pyqt5 pandas>=0.25 imageio pillow>5.2,!=7.1.0'
      ##- LIB='libblas-dev liblapack-dev'
      #- LIBH5='libhdf5-dev'
    #--------------------------------------------------------------------------------------------------
    # oldest versions of package
    #--------------------------------------------------------------------------------------------------

    # Steps represent a sequence of tasks that will be executed as part of the job
    #env: ${{ matrix.env }}
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      #- name: Run a one-line script
        #run: echo Hello, world!

      # Runs a set of commands using the runners shell
      #- name: Run a multi-line script
        #run: |
          #echo Add other actions to build,
          #echo test, and deploy your project.

      - name: Print environment variables exposed by GitHub
        run: |
          echo "GITHUB_ACTOR=$GITHUB_ACTOR"
          echo "GITHUB_REPOSITORY=$GITHUB_REPOSITORY"
          echo "GITHUB_SHA=$GITHUB_SHA"
          echo "GITHUB_REF=$GITHUB_REF"
          echo "GITHUB_HEAD_REF=$GITHUB_HEAD_REF"
          echo "GITHUB_BASE_REF=$GITHUB_BASE_REF"
          echo "GITHUB_EVENT_NAME=$GITHUB_EVENT_NAME"
          echo "GITHUB_RUN_ID=$GITHUB_RUN_ID"
          echo "GITHUB_RUN_NUMBER=$GITHUB_RUN_NUMBER"
          echo "GITHUB_WORKFLOW=$GITHUB_WORKFLOW"
          echo "GITHUB_ACTION=$GITHUB_ACTION"

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
         python -m pip install --upgrade pip
         pip install flake8
         #if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
         pip list

        #mode: ['latest', 'latest_basic', 'latest_pyside_gui', 'latest_pyqt_gui'
        #       'old', 'old_basic']
        #       'old_basic', 'old_pyside_gui', 'old_pyqt_gui'.
        #
      - name: Install latest packages - ${{ matrix.mode }}
        if: ${{ matrix.mode == 'latest' || matrix.mode == 'latest_pyside_gui' || matrix.mode == 'latest_pyqt_gui' }}
        #if: matrix.mode == 'latest'
        run: |
          pip install numpy scipy pandas>=0.25 h5py matplotlib

      - name: Install latest gui packages (PySide2)
        if: matrix.mode == 'latest_pyside_gui'
        run: |
          pip install PySide2 vtk imageio pillow>5.2,!=7.1.0

      - name: Install latest gui packages (PyQt5)
        if: matrix.mode == 'latest_pyqt_gui'
        run: |
          pip install PyQt5 vtk imageio pillow>5.2,!=7.1.0

      - name: Install latest basic packages
        if: matrix.mode == 'latest_basic'
        run: |
          pip install numpy scipy
#-----------------------------------------------------------------------------------
# old
      - name: Install old packages (3.7)
        if: ${{ matrix.mode == 'old' && matrix.python-version == '3.7' }}
        run: |
          pip install numpy==1.14.5 scipy==1.1 matplotlib==2.2 h5py==2.8.0 pandas<0.25 pillow>5.2,!=7.1.0'

      - name: Install old packages (3.8)
        if: ${{ matrix.mode == 'old' && matrix.python-version == '3.8' }}
        run: |
          pip install numpy==1.17.3 scipy==1.3.2 matplotlib==3.2.0 h5py==2.10.0 pandas==0.25.2 pillow>5.2,!=7.1.0'

      - name: Install old packages (3.9)
        if: ${{ matrix.mode == 'old' && matrix.python-version == '3.9' }}
        run: |
          pip install numpy==1.19.4 scipy==1.5.4 matplotlib==3.3.3 h5py==3.0.0 pandas==1.1.3 pillow>5.2,!=7.1.0'
#-----------------------------------------------------------------------------------

      - name: Install dependencies
        run: |
         python setup.py develop

      - name: List dependencies
        run: |
         pip list

      - name: Run No GUI
        if: ${{ matrix.mode == 'latest' || matrix.mode == 'latest_basic'  || matrix.mode == 'old' }}
        run: |
         #if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
         python pyNastran/all_tests_no_gui.py
         #coverage run pyNastran/all_tests_no_gui.py
         #codecov

      - name: Run GUI
        if: ${{ matrix.mode == 'latest_pyside_gui' || matrix.mode == 'latest_pyqt_gui' || matrix.mode == 'old_pyside_gui' || matrix.mode == 'old_pyqt_gui' }}
        run: |
         #if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
         python pyNastran/all_tests.py
         #coverage run pyNastran/all_tests.py
         #codecov

  #- name: "Upload coverage to Codecov"
  #  uses: codecov/codecov-action@v1
  #  with:
  #    fail_ci_if_error: true

#--------------------------------------------------------------------------------------------------
# https://docs.github.com/en/free-pro-team@latest/actions/guides/building-and-testing-python
# name: Python package
#
# on: [push]
#
# jobs:
#   build:
#
#     runs-on: ubuntu-latest
#     strategy:
#       matrix:
#         python-version: [2.7, 3.5, 3.6, 3.7, 3.8]

#     steps:
#     - uses: actions/checkout@v2
#     - name: Set up Python ${{ matrix.python-version }}
#       uses: actions/setup-python@v2
#       with:
#         python-version: ${{ matrix.python-version }}
#     - name: Install dependencies
#       run: |
#         python -m pip install --upgrade pip
#         pip install flake8 pytest
#         if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
#     - name: Lint with flake8
#       run: |
#         # stop the build if there are Python syntax errors or undefined names
#         flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
#         # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
#         flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
#     - name: Test with pytest
#       run: |
#         pytest
